<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Registro de Jornadas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if (typeof empleado !== 'undefined' && empleado !== null) { %>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registros">Registros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/perfil">Perfil</a>
          </li>
          <% if (empleado.isAdmin) { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Administrador
              </a>
              <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                <li><a class="dropdown-item" href="/admin/empleados">Empleados</a></li>
                <!-- Añadir más opciones aquí -->
              </ul>
            </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Cerrar sesión</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Iniciar sesión</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>